{
    "extends": [
      "airbnb",
      "plugin:prettier/recommended",
      "prettier/react"
    ],
    "parser": "babel-eslint",
    "parserOptions": {
      "sourceType": "module"
    },
    "env": {
      "browser": true
    },
    "rules": {
      "prettier/prettier": [
        "error",
        {
          "singleQuote": true
        }
      ],
      "quotes": [
        2,
        "single",
        {
          "avoidEscape": true
        }
      ],
      "no-nested-ternary": [0],
      "react/jsx-filename-extension": [0],
      "react/jsx-props-no-spreading": [0],
      "react/forbid-prop-types": [2, { "forbid": ["array", "object"], "checkContextTypes": false, "checkChildContextTypes": false }],
      "react/no-this-in-sfc":[0]
    }
  }